{% extends "template.html" %}
{% block content %}
    <!--Username reminder-->
    <h1>Competitive Programming Tracker by Raphael</h1>
    <p id="text1">test</p>

    <!--Collapsible tags-->
    <div class="container mt-5">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Tags
        </button>
        <div class="collapse mt-3" id="collapseExample">
            <div class="card card-body">
                <form action="{{ url_for('index', username=username) }}">
                     <!--Categories-->
                    {% for atcoder_category, atcoder_subcategories in atcoder_categories.items() %}
                        <input class="category-checkbox" type="checkbox" id="{{atcoder_category}}" name="{{atcoder_category}}" value="{{atcoder_category}}">
                        <label for="{{atcoder_category}}"> <strong>{{atcoder_category}}</strong></label><br>
                         <!--Subcategories-->
                        {% for atcoder_subcategory, question_ids in atcoder_subcategories.items() %}
                            <input class="subcategory-checkbox" type="checkbox" id="{{atcoder_category}}_{{atcoder_subcategory}}" name="{{atcoder_category}}_{{atcoder_subcategory}}" value="{{atcoder_category}}_{{atcoder_subcategory}}">
                            <label for="{{atcoder_category}}_{{atcoder_subcategory}}"> {{atcoder_subcategory}}</label>
                            {% if loop.index % 10 == 0 %}
                                <br>
                            {% endif %}
                        {% endfor %}
                        <br>
                    {% endfor %}
                    <input type="submit" value="Send Request" />
                </form>
            </div>
        </div>
    </div>

    <!--Table-->
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="col-custom">Problem Set Name</th>
                <th scope="col" class="col-custom">Question 1</th>
                <th scope="col" class="col-custom">Question 2</th>
                <th scope="col" class="col-custom">Question 3</th>
                <th scope="col" class="col-custom">Question 4</th>
                <th scope="col" class="col-custom">Question 5</th>
                <th scope="col" class="col-custom">Question 6</th>
                <th scope="col" class="col-custom">Question 7</th>
                <th scope="col" class="col-custom">Question 8</th>
            </tr>
        </thead>
        <tbody>
            <!--Propagating row-->
            {% for problem_set in problem_sets %}
                <tr>
                    <!--First column-->
                    <td class="col-custom">
                        <a href="{{problem_set.problem_set_link}}">{{problem_set.problem_set_name}}</a>
                    </td class="col-custom">
                    <!--Next few columns-->
                    {% for question in problem_set.question_list %}
                        <td id="{{question.question_id}}" class="not-selected-cell col-custom {% if question.question_solved %}table-cell-question-solved{% endif %}">
                            <p>{{question.question_name}}</p>
                            <a href="{{question.question_link}}">{{question.question_id}}</a>
                            <ul class="tags-list">
                                {% for tag in question.question_tags %}
                                    <li>
                                        <p>{{tag.split('_')[1]}}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="static/index_script.js"></script>
{% endblock %}