<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet", href="static\style.css">
</head>
<body>
    <p id="text1">test</p>
    <form action="">
        {% for atcoder_category, atcoder_subcategories in atcoder_categories.items() %}
            <input type="checkbox" id="{{atcoder_category}}" name="{{atcoder_category}}" value="{{atcoder_category}}">
            <label for="{{atcoder_category}}"> <strong>{{atcoder_category}}</strong></label><br>
            {% for atcoder_subcategory, question_ids in atcoder_subcategories.items() %}
                <input type="checkbox" id="{{atcoder_subcategory}}" name="{{atcoder_subcategory}}" value="{{atcoder_subcategory}}">
                <label for="{{atcoder_subcategory}}"> {{atcoder_subcategory}}</label><br>
            {% endfor %}
        {% endfor %}
    </form>
    <table>
        <tr>
            <th>Problem Set Name</th>
            <th>Question 1</th>
            <th>Question 2</th>
            <th>Question 3</th>
            <th>Question 4</th>
            <th>Question 5</th>
            <th>Question 6</th>
            <th>Question 7</th>
            <th>Question 8</th>
        </tr>
        {% for problem_set in problem_sets %}
            <tr>
                <td>
                    <a href="{{problem_set.problem_set_link}}">{{problem_set.problem_set_name}}</a>
                </td>
                {% for question in problem_set.question_list %}
                    <td class="{% if question.question_solved %}table-cell-question-solved{% endif %}">
                        <p>{{question.question_solved}}</p>
                        <a href="{{question.question_link}}">{{question.question_id}}</a>
                        <ul>
                        {% for tag in question.question_tags %}
                            <li>{{tag}}</li>
                        {% endfor %}
                        </ul>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <script src="static\index_script.js"></script>
</body>
</html>