<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CP-tracker</title>
</head>
<body>
    <form method="POST", action="">
        <label>Please input AtCoder username: </label>
        <input type="text", name="username", placeholder="Username"><br>
        <input type="submit", value="Login", id="submit_button">
    </form>
    <p id="text1"></p>
    <script src="static\script.js"></script>
</body>
</html>